.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.nav_section {
  background-color: #adb5bd;
  width: 100%;
  height: 30px;
  margin: -10px 0 0 -10px;
}
.heading_section {
  background-color: #adb5bd;
  width: 300px;
  height: 40px;
  margin: 20px auto;
}

.box_1 {
  background-color: #adb5bd;
  width: 595px;
  height: 350px;
  float: left;
  margin: 0 0 0 -10px;
}

.box_2 {
  background-color: #adb5bd;
  width: 595px;
  height: 350px;
  float: right;
  margin: 0 0 20px 10px;
}
.second_heading_section {
  clear: both;
  background-color: #adb5bd;
  width: 400px;
  height: 40px;
  margin: 25px auto;
}
.square1,
.square2,
.square3,
.square4 {
  background-color: #adb5bd;
  width: 190px;
  height: 190px;
  float: left;
  margin: 0 10px 10px 0;
}
.square_row_1 {
  margin: 20px 0px 0px 200px;
  clear: both;
}

.square5,
.square6,
.square7,
.square8 {
  background-color: #adb5bd;
  width: 190px;
  height: 190px;
  float: left;
  margin: 0 10px 20px 0;
}

.square_row_2 {
  margin: 10px 0 0 200px;
  clear: both;
}

.third_heading_section {
  background-color: #adb5bd;
  width: 600px;
  height: 40px;
  margin: 4S0px auto;
  clear: both;
  margin-left: 300px;
  margin-bottom: 20px;
}
.card_section {
  width: 100%;
  height: 590px;
  background-color: #adb5bd;
  margin: 0px 20px 40px -10px;
}
.card {
  float: left;
  width: 310px;
  margin: 60px 20px 0px 10px;
  background-color: white;
}
.card:first-child {
  margin-left: 100px;
}
.card_content_1 {
  background-color: #adb5bd;
  height: 50px;
  margin: 30px 20px;
}
.card_content_2 {
  background-color: #adb5bd;
  height: 145px;
  margin: 0 20px 40px 20px;
}
.card_content_3 {
  background-color: #adb5bd;
  height: 145px;
  margin: 0 20px 30px 20px;
}
.end_heading_section {
  background-color: #adb5bd;
  width: 300px;
  height: 40px;
  margin: 20px auto;
}

.end1,
.end2,
.end3 {
  clear: both;
  background-color: #adb5bd;
  margin-bottom: 05px;
  width: 530px;
  height: 40px;
  margin: 10px auto;
}

.main_end {
  clear: both;
  background-color: #adb5bd;
  height: 200px;
  width: 530px;
  margin: 10px auto;
}
.submit1 {
  height: 40px;
  width: 255px;
  float: left;
  margin: 0 20px 20px 335px;
  background-color: #adb5bd;
}
.submit2 {
  background-color: #adb5bd;
  height: 40px;
  width: 255px;
  float: left;
  margin: 0 20px 90px 0;
}
.footer_section {
  clear: both;
  margin-top: 70px;
  background-color: #adb5bd;
  height: 220px;
  width: auto;
  margin: -10px 0 0 -10px;
}
.footer_box_1,
.footer_box_2 {
  background-color: #ffffff;
  height: 200px;
  width: 580px;
  float: left;
  margin: 10px 10px 0 10px;
}
